<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0-preview.3.25171.5" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.7.0-preview.25167.10" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.7.0-preview.25167.10" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.7.0-preview.25167.10" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.7.0-preview.25167.10" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.7.0-preview.25167.10" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.14.0-preview-25107-01" targetFramework="net48" />
  <package id="MSTest.Analyzers" version="3.9.0-preview.25167.10" targetFramework="net48" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="3.9.0-preview.25167.10" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="3.9.0-preview.25167.10" targetFramework="net48" />
  <package id="NUnit" version="4.3.2" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="5.0.0" targetFramework="net48" />
  <package id="NUnitTestAdapter.WithFramework" version="2.0.0" targetFramework="net48" />
  <package id="OpaqueMail" version="2.4.3" targetFramework="net48" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net48" />
  <package id="Selenium.Support" version="4.31.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.31.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="135.0.7049.11400" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.0-preview.3.25171.5" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0-preview.3.25171.5" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.0-preview.3.25171.5" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Net.FtpClient" version="1.0.5824.34026" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="10.0.0-preview.3.25171.5" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.0-preview.3.25171.5" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.0-preview.3.25171.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>